node_modules/
npm-debug.log
.git/
.gitignore
.DS_Store
dist/
.env
.env.local
README.md
Dockerfile
nginx.conf
.dockerignore
.vite/
coverage/
.eslintcache
.prettierignore
.prettierrc
eslint.config.js
